{% extends "learning_logs/base.html" %}

{% block page_header %}
<div class="jumbotron" xmlns:width="http://www.w3.org/1999/xhtml">
        <h1 class="display-3">Track your learning.</h1>

        <p class="lead">Make your own Learning Log, and keep a list of the
            topics you're learning about. Whenever you learn something new
            about a topic, make an entry summarizing what you've learned.</p>
        <hr class="my-4">
        <p class="lead">You can Signup completely for free and start
            adding you're ideas. Register now.</p>
        <p>
        <a class="btn btn-lg btn-primary" href="{% url 'users:register' %}"
            role="button">Register &raquo;</a></p>

</div>
{% endblock page_header %}